.h1{
	width: auto;
	color: white;
	text-align: center;
	border: 5px solid orange;
	background: white;
	margin: 0;
	text-shadow: 1px 1px 10px red;
}
.main{
	display: flex;
	width: auto;
	height: 700px;
	border: 5px solid red;
	background: orange;
	padding: 10px 10px 10px 10px;

}
.main>div{
	margin: top;
	width: auto;
	height: 300px;
	
	text-align: center;
	padding: 10px 20px 20px 20px;
}
#poto{
	width: 200px;
	height: 300px;
	border-radius: 40px;
	box-shadow: 1px 1px 12px red;
}
*{
	
}
h3,p{
	background-color: orange;
}